:root {
    --primary-color: #5D5C61;
    --secondary-color: #379683;
    --background-color: #7395AE;
    --text-color: #FBFBFF;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

header {
    background: var(--secondary-color);
    padding: 10px 20px;
    border-bottom: 5px solid var(--primary-color);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: var(--primary-color);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 15px 15px 0 0;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
